<section class="section" id="about">
    <div class="container">
        <div class="section-title">
            <h2>Обо мне</h2>
        </div>
        <div class="about-content">
            <div class="about-img">
                <img src="{{ asset('images/lawyer-photo.jpg') }}" alt="Доброрадных Наталия Станиславовна" id="aboutPhoto">
            </div>
            <div class="about-text">
                <h3 data-editable="true" data-key="aboutName">Доброрадных Наталия Станиславовна</h3>
                <p data-editable="true" data-key="aboutText1">Я - профессиональный юрист с более чем 20-летним опытом работы в различных областях права. Моя миссия - предоставлять качественные юридические услуги, защищать интересы клиентов и помогать в решении самых сложных правовых вопросов.</p>
                <p data-editable="true" data-key="aboutText2">Окончила юридический факультет МГУ им. М.В. Ломоносова, имею ряд специализированных сертификатов. Регулярно повышаю квалификацию и слежу за изменениями в законодательстве.</p>
                <div class="experience">
                    <div class="exp-item">
                        <i class="fas fa-briefcase"></i>
                        <h4 data-editable="true" data-key="expYears">20</h4>
                        <p data-editable="true" data-key="expYearsText">Лет опыта</p>
                    </div>
                    <div class="exp-item">
                        <i class="fas fa-graduation-cap"></i>
                        <h4 data-editable="true" data-key="expEducation">МГУ</h4>
                        <p data-editable="true" data-key="expEducationText">Образование</p>
                    </div>
                    <div class="exp-item">
                        <i class="fas fa-award"></i>
                        <h4 data-editable="true" data-key="expCases">100+</h4>
                        <p data-editable="true" data-key="expCasesText">Успешных дел</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>