<header>
    <div class="container">
        <nav>
            <div class="logo-container">
                <img src="{{ asset('images/logo.png') }}" alt="Логотип" class="logo-img" id="headerLogo">
                <div class="logo-text">
                    <div class="logo" data-editable="true" data-key="headerTitle">Доброрадных <span>Н.С.</span></div>
                    <div class="logo-phone" data-editable="true" data-key="headerPhone">8 921 522 30 11</div>
                </div>
            </div>
            <ul class="nav-links">
                <li><a href="#home" data-editable="true" data-key="navLink1">Главная</a></li>
                <li><a href="#about" data-editable="true" data-key="navLink2">Обо мне</a></li>
                <li><a href="#services" data-editable="true" data-key="navLink3">Услуги</a></li>
                <li><a href="#faq" data-editable="true" data-key="navLink4">FAQ</a></li>
                <li><a href="#contact" data-editable="true" data-key="navLink5">Контакты</a></li>
            </ul>
            <div class="mobile-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
</header>